.nav {
  background: #babaca;
  box-shadow: 5px 10px 18px rgba(226, 226, 226, 0.7);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav div {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
